# Exploratory analysis for spanish poetry dataset

The main objective is show, see patrons, clean and be more coherent dataset. Drop NaN and duplicated data

- Load Dataset
- Drop duplicate and NaN
- See patrons
- Clean data

### Load Dataset

In [1]:
## Libraries

import pandas as pd

In [8]:
# load and first look to dataset
df = pd.read_csv("../../data/ES_corpus/PoemasDelAlmaDataset.csv")

df.head()

,Title,Poem,Author
0,Desvaríos,\n\n\r\nEntre nosotros crece la ropa en las ma...,Ángeles Mastretta
1,Caminito del indio,"\n\n\r\nCaminito del indio,\n\r\nsendero coya\...",Atahualpa Yupanqui
2,El poeta,Tú piensas que eres distinto\n\r\nporque te di...,Atahualpa Yupanqui
3,Si una guitarra triste...,Si una guitarra triste me dijera\n\r\nque no q...,Atahualpa Yupanqui
4,¡Adiós!,"\n\nLas cosas que mueren jamás resucitan, \r\n...",Alfonsina Storni

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14750 entries, 0 to 14749
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   14694 non-null  object
 1   Poem    14726 non-null  object
 2   Author  14750 non-null  object
dtypes: object(3)
memory usage: 345.8+ KB

In [4]:
df.describe()

,Title,Poem,Author
count,14694,14726,14750
unique,12148,13082,1354
top,Nocturno,Todo el dolor te navegaba por la sangre.\n\r\n...,Luis de Góngora
freq,21,4,436

### First look:

We can see there some null objects in "Title" column and we have many titles duplicate (~2500) and some poem duplicated too(~1700), we're going to see how to clean it

### Dropping:

In [11]:
df=df.drop_duplicates(subset=['Poem']) ## We drop where poems are the same, titles and authors could be repeted
df=df.dropna(subset=['Title'])

In [12]:
df.describe()

,Title,Poem,Author
count,13066,13066,13066
unique,12144,13066,1332
top,Nocturno,\n\n\r\nEntre nosotros crece la ropa en las ma...,Pablo Neruda
freq,17,1,236

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13066 entries, 0 to 14743
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   13066 non-null  object
 1   Poem    13066 non-null  object
 2   Author  13066 non-null  object
dtypes: object(3)
memory usage: 408.3+ KB

In [15]:
df.head()

,Title,Poem,Author
0,Desvaríos,\n\n\r\nEntre nosotros crece la ropa en las ma...,Ángeles Mastretta
1,Caminito del indio,"\n\n\r\nCaminito del indio,\n\r\nsendero coya\...",Atahualpa Yupanqui
2,El poeta,Tú piensas que eres distinto\n\r\nporque te di...,Atahualpa Yupanqui
3,Si una guitarra triste...,Si una guitarra triste me dijera\n\r\nque no q...,Atahualpa Yupanqui
4,¡Adiós!,"\n\nLas cosas que mueren jamás resucitan, \r\n...",Alfonsina Storni

### Dropped: 

We saw there are ~13k poems with its title and author. Now we're going to see some examples of them and we'll clean it up

### Cleaning: